.all-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .all-cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .all-cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .all-cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .all-cards{
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .all-cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.card-destination {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.btn-small {
  font-family: "Montserrat";
  border: 0,5px solid #000000;
  background-color: grey;
  border-radius: 12px;
  color: black;
  width: 70px;
  cursor: pointer;
  height: 30px;
  padding: 0;
}

.card-destination img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-destination-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  flex-direction: row;
}

.card-destination-infos h2 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: left;
  letter-spacing: 0.02em;
  color: #8E3E3E;
  width: 210px;
}

.card-destination-infos p {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: #000000;
  text-align: left;
}

.card-description p {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: #000000;
  text-align: left;
}

.card-description {
  margin: 10px;
}
